<a href="https://colab.research.google.com/github/codeofarmour/prog_books_da_project/blob/master/Books_About_Programming.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Books About Programming Data Analysis**
An exploration of highly rated books.

**TODO:** Write a more thoughtful project introduction. Describe the dataset -- where I found it, what I hope to accomplish with it, and which tools and techniques I intend to use.

### Steps to follow:

* ~~Import dataset into Colab as a pandas dataframe~~
* Clean data
  - ~~Duplicate and anomalous entries removed~~
  - ~~No missing values allowed (prove with seaborn heatmap)~~
* Distribution is shown as either histograms, box plots/box & whisker plots, or frequency graphs
* The mean, median, mode, and any other relevant statistical measures for your data have been calculated
* At least 5 graphs that determine/demonstrate/show any meaningful correlations in your data; all graphs are presentable, accurate, and meaningful
  - Note the use of color, scale, labels, etc.
* The code has sufficient comments to describe why/what you are doing in each section
* The code runs fully without errors

#### Import necessary libraries

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

#### Import dataset and store it as a Pandas DataFrame

In [15]:
df = pd.read_csv('https://raw.githubusercontent.com/codeofarmour/prog_books_da_project/master/prog_book.csv', index_col=False) 

"""Still need to remove index - reference what I did with Michelle's"""

"Still need to remove index - reference what I did with Michelle's"

In [22]:
# Prevent changes to original by assiging a copy of the df to a variable
book_data = df.copy()
book_data.head()

   Rating Reviews  ...            Type      Price
0    4.17   3,829  ...       Hardcover   9.323529
1    4.01   1,406  ...       Hardcover  11.000000
2    3.33       0  ...  Kindle Edition  11.267647
3    3.97   1,658  ...       Hardcover  12.873529
4    4.06   1,325  ...  Kindle Edition  13.164706

[5 rows x 7 columns]

#### Determine if there are discrepancies or inaccurate data type assignments

In [18]:
# Check out the dataset columns

# It appears there are 4 qualitative data points, at least 3 quantitative data points 
book_data.dtypes

Rating             float64
Reviews             object
Book_title          object
Description         object
Number_Of_Pages      int64
Type                object
Price              float64
dtype: object

In [ ]:
# Remove 0th index column - HOLD UNTIL CERTAIN NOT NEEDED
# book_data = book_data.iloc[: , 1:]

In [ ]:
# Reviews are type object but should be type int64
# Must first remove ',' from the string objects before converting them to ints
# For loop?

# book_data['Reviews'] = book_data['Reviews'].astype('int64')

   Rating Reviews  ...            Type      Price
0    4.17   3,829  ...       Hardcover   9.323529
1    4.01   1,406  ...       Hardcover  11.000000
2    3.33       0  ...  Kindle Edition  11.267647
3    3.97   1,658  ...       Hardcover  12.873529
4    4.06   1,325  ...  Kindle Edition  13.164706

[5 rows x 7 columns]

In [ ]:
# Rename specific columns for brevity, using the pandas rename() function
book_data.rename(columns={'Book_title': 'Title', 'Number_Of_Pages': 'Pages'}, inplace=True)

book_data.head()

   Rating Reviews  ...            Type      Price
0    4.17   3,829  ...       Hardcover   9.323529
1    4.01   1,406  ...       Hardcover  11.000000
2    3.33       0  ...  Kindle Edition  11.267647
3    3.97   1,658  ...       Hardcover  12.873529
4    4.06   1,325  ...  Kindle Edition  13.164706

[5 rows x 7 columns]

In [ ]:
# Check for null values in dataset
df.isnull().values.any()

In [ ]:
# Check for duplicate rows
df.duplicated()

In [ ]:
# Check for missing values
# TODO - increase figsize
df.isna().sum()
sns.heatmap(df.isnull(), cbar=False)

In [ ]:
df.describe()

In [ ]:
# Plot out distribution of Ratings
sns.displot(df['Rating'])

# Plot the mean
plt.axvline(x=np.mean(df['Rating']), c='r', ls='--', label='mean')

# Plot the 25-75th percentile
plt.axvline(x=np.percentile(df['Rating'], 25), c='y', ls='-', label='25-75th percentile')
plt.axvline(x=np.percentile(df['Rating'], 75), c='y', ls='-')

plt.legend()
plt.show()

In [ ]:
# Plot all other numeric variables and their distributions
df.hist(figsize=(10,10))

In [ ]:
# Price and Number_Of_Pages seem highly correlated as they're both skewing right

#### Do book types influence ratings and why?

In [ ]:
results = df.groupby('Type').sum()
results

# TODO: Add total sales column at the beginning in order to compare reviews/sales, etc.

In [ ]:
types = [type for type, df in df.groupby('Type')]

plt.bar(types, results['Rating'])

plt.xticks(types, rotation='vertical', size=10)
plt.ylabel('Ratings')
plt.xlabel('Book Type')

plt.show()